<title>Manager Add</title>

<h1>Add Manager</h1>
<body>
    <ul>
        <li>Manager ID must be 4 characters</li>    
        <li>Name must be > 5 characters</li>    
        <li>Salary must be between 30000 and 70000</li>    
    </ul>
    <form action="/managers/add" method="post">
        <label for="id">Manager Id:</label>
        <input type="text" id="id" name="id"><br>
        <label for="name">Full Name:</label>
        <input type="text" id="name" name="name"><br>
        <label for="salary">Salary:</label>
        <input type="number" id="salary" name="salary"><br>
        <input type="submit" value="submit">
    </form>
</body>
<a href="/">Home</a>