<title>Manager Add</title>

<h1>Add Manager</h1>

<p> - Manager ID must be 4 characters</p>

<br>
<p> - Name must be > 5 characters</p>

<br>
<p> - Salary must be between 30,000 and 70,000</p>

<input type="submit" onclick="saveManager()">
<a href="/">Home</a>