<title>Stores</title>
<H1>Stores</H1>

<body>
    <a href="/stores/add">Add Store</a>
<table>
    <tr>
        <th> SID </th>
        <th> Location </th>
        <th> Manager Id </th>
        <th> Action </th>
    </tr>
    <% store.forEach((data) => { %>
        <tr>
            <!-- Database from the MySQL store-->
            <td> <%= data.sid %> </td>
            <td> <%= data.location %> </td>
            <td> <%= data.mgrid %> </td>
            <td> <a href="/stores/edit/:sid"> Update </a></td>
        </tr>
    <% }); %>
</table>
<br>

<a href ="/">Home</a>
</body>