<title>Store Add</title>

<h1>Add Store</h1>
<body>
        <!-- Form to input data for new stores-->
    <form action="/stores/add" method="post">
        <label for="sid">Store Id:</label>
        <input type="text" id="sid" name="sid"><br>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location"><br>
        <label for="mgrid">Manager Id:</label>
        <input type="text" id="mgrid" name="mgrid"><br>
        <input type="submit" value="submit">
    </form>
</body>
<a href="/">Home</a>